{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static "authentication/css/style_registration.css"%}">
    </head>
    <body>
    <div class="wrapper">
        <form class="login-form" action='' method="post">
            {% csrf_token %}
            <h1>Регистрация</h1>
            {{form.username}}
            {{form.email}}
            {{form.first_name}}
            {{form.last_name}}
            {{form.password1}}
            {{form.password2}}
            <input type="submit" value="регистрация">
        </form>
        <a class="mainPageLink" href="{% url 'first-page' %}">Вернуться на главную страницу</a>
        {{form.errors}}
    </div>
    <script>

		var form_fields = document.getElementsByTagName('input');
		form_fields[1].placeholder='Введите логин..';
		form_fields[2].placeholder='Введите email..';
		form_fields[3].placeholder='Введите имя..';
		form_fields[4].placeholder='Введите фамилию...';
		form_fields[5].placeholder='Ваш пароль...';
		form_fields[6].placeholder='Повторите ваш пароль...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
    </body>
</html>