{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
        <title>admin</title>
    {% endblock %}

    {% block link %}
    <link rel="stylesheet" href="{% static "Signature/css/style_admin.css"%}">

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
    <h1>Список сотрудников</h1>
        <div class="staff" >
            <div class="btn-group">
                {% for person in users %}
                    <button onclick="location.href='dedicated-page?user={{ person.id }}'" type="button">{{person.first_name}} {{person.last_name}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>