{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "Signature/css/style_dedicated.css"%}">
    <link rel="stylesheet" href="{% static "base.css"%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js" integrity="sha512-eGYNRo+9eOOAd/b4UZR8f2IdWNO3+6XrJMb5M1/wPvSUA7ABpSAT7uexDGt7fNfqhwVGI1L+0lEUm/n7ZqiL9A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>

</head>
<body>

<header class="main">
    <div class="paragraph">
        <p>
            {{user.first_name}} {{user.last_name}} <span class="right">Пользователь</span><br/>
            Должность: *******<br/>
            Отдел: *******<br/>
            Руководитель: *******
        </p>
        {% if user.is_staff %}
            <a class="admin_page" href="{% url 'admin-page' %}">Панель администратора</a>
        {% endif %}
        <a class="exit" href="{% url 'logout-page' %}">Выход</a>
    </div>
</header>

<div class="container">
    <div class="signature">
        <h1>Управление подписями и документами</h1>
        <form class='createSignForm' method="post">
        {% csrf_token %}
            <select name="sel">
                    <option value="" selected disabled>Выберите подпись</option>
                    {% for key in user_keys %}
                        <option value="{{key.key_id}}">{{ key.key_name }}</option>
                    {% endfor %}
            </select>
            <label for="sign_date">Указать срок сдачи</label>
            <input id='sign_date' type="date" name="date">
            <input type="submit" value="Сохранить изменения" class="delete openWindowBtn">
        </form>
    </div>
</div>
<div class="footer">
    <p>"Alfa Signature" 2020<br/>
        signature@alfa.com</p>
</div>
<script>

        function viewDiv1(){
            document.getElementById("div1").style.display = "block";
            document.getElementById("div2").style.display = "none";
            document.getElementById("div3").style.display = "none";
        }


        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        document.getElementById("key_selector").onchange = function(){
              const result = document.getElementById("key_exp_date");
              result.value='2020-09-11'
        };

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
<script src="{% static "Signature/js/dedicated_page.js"%}"></script>
</body>
</html>