{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="{% static "Signature/css/style_first.css"%}">
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>
<body>
    <div class="index">
        <a href="first-page" class="button_main">Главная</a>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Личный кабинет</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="private-page">Личный кабинет пользователя</a>
                <a href="admin-page">Личный кабинет администратора</a>
                <a href="dedicated-page">Страница выделенного сотрудника</a>
            </div>
        </div>
    </div>
    <header class="main">
        <div class="logo">
            <img src="{% static  "Signature/image/alpha.png" %}" width="300" height="300" alt="Alpha-logo">
        </div>
        <div class="heading">
            Alfa Signature
        </div>
        <div class ="paragraph">
            Веб-система «Alfa Signature» предназначена для создания возможности и оптимизации удалённой работы с документами
        </div>
    </header>
    <div class="container">
        <div class="instruction">
            <div class="instruction_first">
                Если вы уже зарегистрированный пользователь
            </div>
            <div class="instruction_second">
                Если вы тут впервые
            </div>
        </div>
        <a href="login-page" class="button_first">АВТОРИЗАЦИЯ</a>
        <a href="registration-page" class="button_second">РЕГИСТРАЦИЯ</a>
    </div>
    <div class="footer">
        <p>"Alfa Signature" 2020<br/>
            signature@alfa.com</p>
    </div>
</body>

</html>