{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="{% static "Signature/css/style_first.css"%}">
    <link rel="stylesheet" href="{% static "Signature/css/base.css"%}">
</head>
<body>
    <header class="main">
        <div class="logo">
            <img src="{% static  "Signature/image/alpha.png" %}" width="300" height="300" alt="Alpha-logo">
        </div>
        <div class="heading">
            Alfa Signature
        </div>
        <div class ="paragraph">
            Веб-система «Alfa Signature» предназначена для создания, возможности и оптимизации удалённой работы с документами
        </div>
    </header>
    <div class="container">
        <div class="clear">
            <div class="authorization">
                <p>Если вы уже зарегистрированный пользователь</p>
                <a href="{% url 'login-page' %}" class="button_first">АВТОРИЗАЦИЯ</a>
            </div>
            <div class="registration">
                <p>Если вы тут впервые</p>
                <a href="{% url 'registration-page' %}" class="button_second">РЕГИСТРАЦИЯ</a>
            </div>
        </div>

{#        <div class="instruction">#}
{#            <div class="instruction_first">#}
{#                Если вы уже зарегистрированный пользователь#}
{#            </div>#}
{#            <div class="instruction_second">#}
{#                Если вы тут впервые#}
{#            </div>#}
{#        </div>#}
{#        <a href="{% url 'login-page' %}" class="button_first">АВТОРИЗАЦИЯ</a>#}
{#        <a href="{% url 'registration-page' %}" class="button_second">РЕГИСТРАЦИЯ</a>#}
    </div>
    <div class="footer">
        <p>"Alfa Signature" 2020<br/>
            signature@alfa.com</p>
    </div>
</body>

</html>