{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "Signature/css/style_login.css"%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
</head>
<body>
<form class="login-form" id="login_form"  >
{#    {% csrf_token %}#}
    <h1>Вход в кабинет</h1>
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
{#    <label>#}
{#        <input type="checkbox"> Запомните меня</label>#}
{#    <a href="#"> Я забыл пароль</a>#}
    <input type="submit" value="войти">
    <a class="mainpage" href="first-page">Вернуться на главную страницу</a>
</form>

<script>


    window.addEventListener('load',  ()=>{
        const form = document.getElementById('login_form');
        form.addEventListener('submit', (e)=>{
            e.preventDefault();
            let data = new FormData(form);
            axios({
                method: 'post',
                url: '/auth/login/',
                data: data,
            }).then((res)=>{
                console.log(res);
                {#document.cookie = {'token': res.data['access']};#}
                document.cookie = encodeURIComponent('token') + '=' + encodeURIComponent(res.data['access']);
                axios.defaults.headers.common['Authorization'] = res.data['access'];
                window.localStorage.setItem('token',res.data['access']);
                console.log(axios.defaults.headers.common);
                window.location='/front-page';
                {#console.log(localStorage.getItem('token'));#}
            }).catch((err)=>{throw err});
        })
    });


</script>
</body>
</html>