{% extends 'base.html' %}
{% load static %}

    {% block title %}
        <title>personal page</title>
    {% endblock %}

    {% block link %}
        <link rel="stylesheet" href="{% static "Signature/css/style_private.css" %}">

    {% endblock %}

{% block content %}
<div class="container">
    <div class="signature">
        <div class="content_signature">
            <p>Управление подписями и документами</p>
            <div>
                <button  class="signature_button">Загрузить документ</button>
                <div class="signature_panel">
                    <div>
                        <form  class='createSignForm uploaddoc'  name="form" method="post" id="formElem"  enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="file" name="file" class="file_upload">
                            <input type="submit" name='submit' value="Загрузить документ">
                        </form>
                    </div>
                </div>
                <button  class="signature_button">Подписать документ</button>
                <div class="signature_panel">
                    <div>
                        <form  class='createSignForm singdoc' method="post" id="formElem_sing_doc">
                        {% csrf_token %}
                            <select name="documents_name">
                                    <option value=""  selected disabled>Выберите выберете документ для подписи</option>
                                    {% if user_documents %}
                                    {% for doc in user_documents %}
                                        <option value="{{doc.id}}">{{ doc.document_title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <input type="submit" name='submit' value="Подписать документ">
                        </form>
                    </div>
                </div>
                <button  class="signature_button">Проверить документ</button>
                <div class="signature_panel">
                    <div>
                        <form class='createSignForm' method="post" action="/uploadHandler" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="verify_upload" name='file' type="file"/>
                            <label for="verify_upload" class="file_upload">Выберите файл</label>
                            <input style="padding-left:71px" type="submit" id="check">
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div>
                {% if succ_or_err != '' %}
                    <p class="error_info">{{succ_or_err}}
                        {% if info is not None %}
                        <br>{{info.last_name}} {{info.first_name}} подписал этот документ.
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="tableWrapper">
            <table class="logTable">
                <tr>
                    <th>Название</th>
                    <th>Кем подписан</th>
                    <th>Когда подписан</th>
                </tr>
            {% for doc in docs %}
                <tr>
                    <td> {{doc.document_title}}</td>
                    <td>{{doc.key_table_id.user.first_name}} {{doc.key_table_id.user.last_name}}</td>
                    <td>{{doc.date_for_logs|date:"d-m-Y H:i"}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <script>


        </script>
{% endblock %}