{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personal page</title>
    <link rel="stylesheet" href="{% static "Signature/css/style_private.css"%}">
    <script>

        function viewDiv1(){
            document.getElementById("div1").style.display = "block";
            document.getElementById("div2").style.display = "none";
            document.getElementById("div3").style.display = "none";
        };

        function viewDiv2(){
            document.getElementById("div2").style.display = "block";
            document.getElementById("div1").style.display = "none";
            document.getElementById("div3").style.display = "none";
        };

        function viewDiv3(){
            document.getElementById("div3").style.display = "block";
            document.getElementById("div2").style.display = "none";
            document.getElementById("div1").style.display = "none";
        };

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>
<body>
<div class="index">
    <a href="first-page" class="button_main">Главная</a>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Личный кабинет</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="private-page">Личный кабинет пользователя</a>
            <a href="admin-page">Личный кабинет администратора</a>
            <a href="dedicated-page">Страница выделенного сотрудника</a>
        </div>
    </div>
</div>
<header class="main">
    <div class="paragraph">
        <p>
            {{user.first_name}} {{user.last_name}} <span class="right">Пользователь</span><br/>
            Должность: *******<br/>
            Отдел: *******<br/>
            Руководитель: *******
        </p>
        <a class="exit" href="auth/logout/">Выход</a>
    </div>
</header>
<div class="container">
    <div class="signature">
        <p>Управление подписями и документами</p>
        <form>
            <label>
                <input type="button" value="Создать подпиcь" onmousedown="viewDiv1()" class="not_invisible">
                <input type="button" value="Подписать документ" onmousedown="viewDiv2()" class="not_invisible">
                <input type="button" value="Проверить документ" onmousedown="viewDiv3()" class="not_invisible">
            </label>
        </form>
            <div>
                {% if succ_or_err != '' %}
                    <p>{{succ_or_err}}</p>
                {% endif %}
            </div>
            <form id="div1" method="post" action="/generateKey" enctype="application/json">
                {% csrf_token %}
                <label for="sing">Название подписи</label>
                <input type="text" id="sing"  name="Название подписи" class="knopka">
                <label for="date_sing">Срок действия подписи</label>
                <input type="date" name="Дата" id="date_sing" class="knopka">
                <input type="submit" name='submit' class="knopka" value="Создать подпись">
            </form>


            <form id="div2" method="post" action="/signDocHandler" enctype="multipart/form-data">
            {% csrf_token %}
                <select name="keys">
                    {% if user_keys %}
                        <option value=""  selected disabled>Выбирете ключ для подписи</option>
                        {% for key in user_keys %}
                            <option value="{{key.key_id}}">{{ key.key_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <input type="file" class="knopka" name="file">
                <input type="submit" name='submit' class="knopka" value="Подписать документ">
            </form>

            <form id="div3" method="post" action="/uploadHandler" enctype="multipart/form-data">
                <label for="checkfile">Проверить документ</label>
                <input type="file" name="file" class="knopka" id="checkfile">
                <label for="check">Проверить документ</label>
                <input type="submit" id="check" class="knopka">
            </form>

    </div>
</div>
    <script src="{% static "Signature/js/private_page.js"%}"></script>

    <div class="footer">
        <p>"Alfa Signature" 2020<br/>
            signature@alfa.com</p>
    </div>
</body>
</html>