{% extends 'base.html' %}
{% load static %}

    {% block title %}
        <title>personal page</title>
    {% endblock %}

    {% block link %}
        <link rel="stylesheet" href="{% static "Signature/css/style_private.css" %}">

    {% endblock %}

{% block content %}
<div class="container">
    <div class="signature">
        <div class="content_signature">
            <p>Управление подписями и документами</p>
            <div>
                <button  class="signature_button">Загрузить документ</button>
                <div class="signature_panel">
                    <div>
                        <form  class='createSignForm uploaddoc'  name="form" method="post" id="formElem"  enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="file" name="file" class="file_upload" id="fileUpload">
                            <label for="fileUpload">Выберите файл</label>
                            <input type="submit" name='submit' value="Загрузить документ">
                        </form>
                    </div>
                </div>
                <button  class="signature_button">Подписать документ</button>
                <div class="signature_panel">
                    <div>
                        <form  class='createSignForm singdoc' method="post" id="formElem_sing_doc">
                        {% csrf_token %}
                            <select name="documents_name_sing" class="selectField">
                                    <option value=""  selected disabled>Выберите документ</option>
{#                                    {% if user_documents %}#}
{#                                        {% for doc in user_documents %}#}
{#                                            <option value="{{doc.id}}">{{ doc.document_title }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
                            </select>
                            <input  type="submit" name='submit' value="Подписать документ">
                        </form>
                    </div>
                </div>
                <button  class="signature_button">Проверить документ</button>
                <div class="signature_panel">
                    <div>
                        <form class='createSignForm verify' method="post" id="formElem_verify_doc">
                            {% csrf_token %}
                            <select name="documents_name_verify" class="selectField">
                                    <option value=""  selected disabled>Выберите документ</option>
{#                                    {% if user_documents %}#}
{#                                        {% for doc in user_documents %}#}
{#                                            <option value="{{doc.id}}">{{ doc.document_title }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
                            </select>
                            <input style="padding-left: 10px" type="submit" name="submit" value="Проверить подлинность">
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div>
                {% if succ_or_err != '' %}
                    <p class="error_info">{{succ_or_err}}
                        {% if info is not None %}
                        <br>{{info.last_name}} {{info.first_name}} подписал этот документ.
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
<div class="modalTable" id="uploadModalTable">
    <div class="modalDialog">
        <div class="modalContent">
            <div class="modalBody">
                <div class="tableWrapper" id="infoTableWrapper">
                    <table class="logTable" id="infoTable">
                        <tr>
                            <th colspan="3" id="uploadSuccess" style="background-color: #03061b;position: inherit"></th>
                        </tr>
                        <tr>
                            <th>Кем подписан</th>
                            <th>Когда подписан</th>
                            <th>Верифицирован</th>
                        </tr>
                        <tr>
                            <td colspan="3" style="background-color: #0B1F35; color:white; text-align: center" id="noDocsMessage">Нет документов</td>
                        </tr>
                    </table>
                </div>
                <a href="#Close" title="Закрыть" class="closeButton">Закрыть</a>
            </div>
        </div>
    </div>
</div>
<div class="modalTable" id="signModalTable">
    <div class="modalDialog">
        <div class="modalContent">
            <div class="modalBody">
                <p class="message" id="signResultMessage"></p>
                <a href="#Close" title="Закрыть" class="closeButton">Закрыть</a>
            </div>
        </div>
    </div>
</div>
<div class="modalTable" id="verifyModalTable">
    <div class="modalDialog">
        <div class="modalContent">
            <div class="modalBody">
                <p class="message" id="verifyResultMessage"></p>
                <a href="#Close" title="Закрыть" class="closeButton">Закрыть</a>
            </div>
        </div>
    </div>
</div>
        <div class="tableWrapper">
            <table class="logTable" id="docTable">
                <tr>
                    <th>Название</th>
                    <th>Кем подписан</th>
                    <th>Когда подписан</th>
                </tr>
            </table>
        </div>
    </div>
    <script>

    </script>
{% endblock %}