
.main{
    background-color:#03061b;
    height:200px;
    position: relative;
    color:white;
    text-align:center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.paragraph{
    position:absolute;
    background-color: white;
    width: 57%;
    height:150px;
    left:23%;
    bottom: 30px;
}

.paragraph p{
    color:black;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

.paragraph  p .right{
    position: absolute;
    right: 20px;
    font-family: "Trebuchet MS", serif;
}

input{
    display: flex;
    flex-wrap: wrap;
    margin:20px;
}

.admin_page{
    position: absolute;

    right:5px;
    bottom: 35px;
    width: 200px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding: 2px;
    /* padding: 5px 55px; */
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}

.user_page{
    position: absolute;
    right:5px;
    bottom: 70px;
    width: 200px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding: 2px;
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}

.exit{
    position: absolute;
    right:5px;
    bottom: 5px;
    width: 200px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}

.footer{
    position:relative;
    height:100px;
    background-color:#03061b;
    color:white;
    text-align: center;
    padding-top: 20px;
    flex-shrink: 0;
}
