html,body{
    margin:0;
    padding:0;
}

.main{
    background-color:#03061b;
    height:650px;
    position: relative;
    color:white;
    text-align:center;
    margin:auto;
}

.logo{
    margin:auto;
}

.heading{
    font-size:70px;
    font-weight: bold;
    margin:auto;
    font-family: "Trebuchet MS", serif;
}

.paragraph{
    font-size:30px;
    margin: 90px auto auto;
    width: 850px;
    display: block;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container{
    position: relative;
    height:600px;
}

.clear{
    display: flex;
    flex-wrap:wrap;
    position: relative;
}

.authorization{
    min-height: 250px;
    margin-top:150px;
    flex: 1 200px;
}

.authorization p{
    font-size: 25px;
    right: 55%;
    display: block;
    width: 450px;
    color: black;
    position: absolute;
    text-align:center;
}

.registration p{
    font-size: 25px;
    left: 54%;
    display: block;
    width: 450px;
    color: black;
    position: absolute;
    text-align:center;
}

.registration{
    min-height: 250px;
    margin-top:150px;
    flex: 1 200px;
}


.button_first{
    position: absolute;
    background-color:white;
    color: gray;
    border:solid;
    height:50px;
    text-decoration: none;
    padding: 35px 55px;
    border-radius: 10px;
    font-size:40px;
    font-weight: bold;
    right:55%;
    bottom:5%;
    transition-duration: 0.4s;
}

.button_first:hover{
    background-color: gray;
    color: white;
}

.button_second:hover{
    background-color: white;
    color: brown;
    border-color: brown;
}

.button_second{
    position: absolute;
    background-color: brown;
    color:white;
    border:solid;
    height:50px;
    text-decoration: none;
    padding: 35px 55px;
    left:55%;
    border-radius: 10px;
    font-size:40px;
    font-weight: bold;
    bottom: 5%;
    transition-duration: 0.4s;
}


.instruction{
    font-size: 25px;
    text-align:center;
    position: relative;
    top:80px;
}

.instruction_first{
    position: absolute;
    left:24%;
    width:300px;
}

.instruction_second{
    position: absolute;
    left:67%;
    width:150px;
}

.footer{
    position:relative;
    height:100px;
    background-color:#03061b;
    color:white;
    text-align: center;
    padding-top: 20px;
}

.index{
    z-index:1;
    position: fixed;
    left:25%;
    margin-top:20px;
}

.button_main{
    display: inline-block;
    margin-right: 150px;
    color: white;
    background-color: brown;
    text-decoration: none;
    padding:10px 130px;
    font-size: 16px;
    font-family: "Trebuchet MS", serif;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px 100px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
    font-family: "Trebuchet MS", serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}